---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';
import { projects } from './projects/projects';
import ProjectList from '../components/ProjectList.astro'
import PostItem from '../components/PostItem.astro';
import { publications } from './publications/publications';
import PublicationList from '../components/PublicationList.astro'

type BlogPost = CollectionEntry<'blog'>;

const top6Projects = projects.slice(0, 6);
const recentPublications = publications.slice(0, 2);
const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION}>
	<div class='container'>
		<div class='w-full md:flex md:items-start gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1 class="text-3xl font-bold mb-2">Welcome!</h1>
        <Prose>
          <div class="text-lg">
            <p>I am a Ph.D. candidate in mathematics at the University of Minnesota, mentored by <a href="https://www-users.cse.umn.edu/~scheel/" target="_blank">Arnd Scheel</a>. I graduated from the University of California, Los Angeles with a B.S. in Mathematics.</p>
            <p>My research interests lie in the intersection of partial differential equations and dynamical systems. My current research focuses on pattern formation in reaction-diffusion systems with applications to biology.</p>
          </div>
        </Prose>
      </div>
      <div class="flex flex-col items-center shrink-0">
      <Image src={Ava} alt="Nan Li" width={270} loading="eager" class="rounded-3xl rotate-0 mx-4 md:mx-0 shadow-lg"/>
      </div>
		</div>
		<main>
      <div class='mt-6 mb-12'>
        <div class="flex justify-between gap-2 border-b mb-1 dark:border-b-zinc-700">
          <h2 class="text-lg font-bold mb-3">Recent Posts</h2>
          <a href="/blog/" class="inline-block py-2 underline dark:prose-invert">All posts &raquo;</a>
        </div>
        <div>
          {
            posts.map((post: BlogPost) => (
              <PostItem post={post} />
            ))
          }      
        </div>
        <div class="text-right">
        </div>
      </div>
      <div>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">Recent Publications</h2>
          <a href="/publications/" class="inline-block py-2 underline dark:prose-invert">All Publications &raquo;</a>
        </div>
        <PublicationList publications={recentPublications}/>
      </div>
      <!-- <div>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">My Projects</h2>
          <a href="/projects/" class="inline-block py-2 underline dark:prose-invert">All projects &raquo;</a>
        </div>
        <ProjectList projects={top6Projects}/>
      </div> -->
		</main>
    <main class='prose text-lg dark:prose-invert'>
      <article>
        <h2 class="font-bold mb-3">Presentations</h2>
        <ul class="text-sm">
          <li>
            <a href="" target="_blank" class="underline">
              Anchored spirals in the theta model
            </a>
            <ul>
              <li>SIAM Conference on Nonlinear Waves and Coherent Structures, Montréal QC, Canada, 2026</li>
            </ul>
          </li>
          <li>
            <a href="/DS25Poster.pdf" target="_blank" class="underline">
              Anchored spirals in sharp-interface and phase oscillator models - Poster
            </a>
            <ul>
              <li>SIAM Conference on Applications of Dynamical Systems, Denver CO, 2025</li>
              <li>Joint Alabama-Florida Conference on Differential Equations, Dynamical Systems and Applications, Birmingham AL, 2025</li>
            </ul>
          </li>
        </ul>

        <h2 class="font-bold mb-3">Teaching</h2>
        <h4>Teaching Assistant at University of Minnesota</h4>
        <ul class="text-sm">
          <li>MATH 3592H: Honors Mathematics I - F25</li>
          <li>MATH 2374: Multivariable Calculus - S25, F24</li>
          <li>MATH 2373: Linear Algebra and Differential Equations - S24, F23</li>
          <li>MATH 1031: College Algebra & Probability - S23</li>
          <li>MATH 1271: Calculus I - F22</li>
        </ul>
      </article>
    </main>
	</div>
</BaseLayout>
