---
import { Image } from 'astro:assets';
import type { Publications } from '../pages/publications/publications'
import { kFormatter } from '../utils'
import GithubWhite from '@src/assets/img/github-mark-white.svg';
import GithubBlack from '@src/assets/img/github-mark.svg';

const { publications } = Astro.props

---
<div class="grid grid-cols-1 gap-5">
  {
    publications.map((publication: Publications) => 
      <div class="flex justify-between gap-10 border dark:border-zinc-700 rounded-xl shadow-sm p-5">
        <div>
            <img src={publication.image} alt="Publication" width="250" class="rounded"/>
        </div>
        <div class="flex-1">
          <div class='flex gap-2'>
            {
              (publication.authors || [] )?.map((author: { name: string; url?: string }) => (
                              <span
                                class='border border-zinc-300 dark:border-zinc-700 rounded-2xl
                                  text-sm text-zinc-700 dark:text-zinc-300 no-underline px-2 py-0.5
                                  transition-all duration-700
                                hover:border-zinc-700 dark:hover:border-zinc-300'
                                >
                                <a href={author.url} target="_blank" rel={publication.paperLinkRel}>
                                    {author.name}
                                </a>
                              </span>
                            ))
            }
          </div>
        <h3 class="font-semibold my-2">
          <a class="underline" href={publication.paperLink} target="_blank" rel={publication.paperLinkRel}>{publication.name}</a>
        </h3>
        <div class="line-clamp-2 text-zinc-600 dark:text-zinc-300 mb-4 min-h-[50px]">
          <p>{publication.abstract}</p>
        </div>
        <div class="flex justify-end gap-3">
          {
            publication.pdf &&
            <a class="underline flex items-center gap-2" href={publication.pdf} target="_blank" rel={publication.paperLinkRel}>
              PDF
            </a>
          }
          {
            publication.postLink &&
            <a class="underline flex items-center gap-2" href={publication.postLink}>
              Article
            </a>
          }
          {
            publication.paperLink &&  // This line adds the conditional check for the Demo link
            <a class="underline flex items-center gap-2" href={publication.paperLink} target="_blank" rel={publication.paperLinkRel}>
              Paper
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
            </a>
          }
        </div>
        </div>
      </div>
    )
  }
</div>
